{% extends 'listdetail.html' %}

{% block Cours %}

      <h4 class="mt-4 mb-5"><strong> Modifier cette {{type}} &nbsp;&nbsp;&nbsp; </strong></h4>
  
      <div class="container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form.html'%}
            <input type="hidden"  name="Appartient" value="{{id}}">
            <button type="submit" class="btn btn-success">Add</button>
          </form>

</div>
</div>


</div>
</section>

{% endblock %}